.opening-body{
    border: 20px double black;
    width: 40%;
    margin: auto;
}

.header{
    margin-top: 7%;
    font-size: 72px;
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-weight: bold;
}